.Container{
  text-align: center;
  height: 800px;
  width: 100%;
  padding: 15px;
  background-color: white;
  margin-top: 50px;
}
.startbtns{
  width: 25%;
  padding: 15px;
  margin: 5px;
  border: 0;
  background-color: rgb(136, 120, 81);
  border-radius: 20px;
  border: black 2px solid;
  box-shadow: rgba(0, 0, 0, 0.144) -6px 10px 5px;
}
.startbtns:hover{
  box-shadow: rgba(0, 0, 0, 0.342) -6px 10px 5px;
}